<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>DT265 Project| <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for my DT265 Computer Science Project blah!!
    </p>
  </body>
</html>