 
<div class="center hero-unit">
  <h1>DT265 Project</h1>

  <h2>
    This is the home page for the
    DT265 Project. A Event showcasing and booking application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("git_hub_logo.jpeg", size: 22, alt: "Rails"), 'https://github.com/' %>