<li>
  <span class="content"><%= link_to event.title, event %></span>
  <span class="content"><%= event.date %></span>

  <span class="timestamp">
    Added <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>