<% provide(:title, @event.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @event.title %>
      </h1>
    </section>
  </aside>
  </aside>
  <div class="span8">
    <h2>
      <%= @event.category %>
      <h2>
  </div>



