/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#overlay {
    background: rgba(0, 0, 0, .9);
    color: #fff;
    margin-top: 50px;
    margin-left: 20px;
    padding: 20px;
    position: absolute;
    text-align: left;
    width: 350px;
    height: 100%;
    overflow: scroll;
    z-index: 2000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
}
 
#overlay h2 {
    font: 200 4em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 
#overlay p {
    font: 100 1.2em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

	iframe {
vertical-align: top;
}
 
#canvas_holder{
position: fixed;
top: 0px;
left: 0px;
width:100%;
height:100%;
z-index: 0;
}

 
#map_canvas{
width:100%;
height:100%;
position: "absolute";
top: 0px;
left: 0px;
overflow: "hidden";
}
 
#holder{
width: 350px;
background: rgba(0,0,0,0.8);
margin-left: 20px;
z-index: 2000;
position: absolute;
color: white;
padding: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
-webkit-border-radius: 10px;
-ms-border-radius: 10px;
}
 
a{
color: white;
}



body{
text-align:center;
}

.ui-menu .ui-menu-item{
text-align: left; 
font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-hover{
border: 1px solid red;
background: #FFBFBF;
color: black;
font-weight:bold;
}


