// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




label {

  width: 100px;
  float:left;
  text-align:right;
  margin:4px 10px 0 0;
}

p {
  float:left;
  width: 100%;
}
.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input, .input input {
  border: 1px solid #DDD !important;
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

#map {
  border: 1px solid #DDD; 
  width:400px;
  height: 400px;
  float:left;  
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

#legend {
  float: right;
  font-size: 22px;
  font-style: italic;
  margin: 10px 0px 0px 430px;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.input {
  float:left;  
}

#search {
  float: left;
  font-size: 22px;
  margin: 10px 0px 0px 30px;
  z-index: 3000;
  
}

 .ui-autocomplete-category {
font-weight: bold;
padding: .2em .4em;
margin: .8em 0 .2em;
line-height: 1.5;
}