// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  
  #search_bar {
  	display:inline;

    
    margin-top: 50px;
    margin-left: 20px;
    margin-right:20px;
    padding: 20px;
   
    text-align: centre;
    width: 400px;
    height: 100%;
    
    z-index: 2000;
    
}
 
