<footer class="footer">
  <small> 
    DT265 Project by Tim Geaney
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/timgeaney/dt265_project">Git Hub Repository for DT265 code</a></li>
    </ul>
  </nav>
</footer>